* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Century Gothic', sans-serif;
    background-image: url(../image/fondoreto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    width: 100%;
    padding: 40px;
    color: white;
    text-align: center;
    background: #112d4e00;
  }
  
  nav ul {
    background: #16488400;
    text-align: center;
    list-style: none;
    overflow: hidden;
  
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #000000d8;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e00;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
.caja{
  border: 2px solid rgba(0, 0, 0, 0.712);
  background-color: rgba(0, 0, 0, 0.555);
  margin-left: 5%;
  margin-right: 5%;
}
.numero{
  color: white;
  font-size: 20px;
  margin-left: 7%;
  margin-top: 5%;
}
.telefono{
  width: 5%;
  height: 5%;
  margin-top: 4%;
  margin-left: 1%;
  float: left;
}
.correo{
  width: 5%;
  height: 5%;
  margin-top: 4%;
  margin-left: 1%;
  float: left;
}
.correo2{
  color: white;
  font-size: 20px;
  margin-left: 7%;
  margin-top: 5%;
}
.ubicacion{
  width: 5%;
  height: 5%;
  margin-top: 4%;
  margin-left: 1%;
  float: left;
}
.ubicacion2{
  color: white;
  font-size: 20px;
  margin-left: 7%;
  margin-top: 5%;
}
.insta{
  width: 7%;
  height: 7%;
  margin-top: 4%;
  float: left;
}
.insta2{
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 7%;
  margin-top: 5%;
  text-decoration: none;
}
.insta3{
  color: white;
  text-decoration: none;
}
#logo{
  width: 25%;
  height: 25%;
  float: right;
  margin-bottom: 35%;
  margin-top: -25%;
  margin-right: 10%;
}
#logo:hover{
  transform:scale(1.2);
  transition: 2s;
}
.ingles{
  width: 5%;
  height: 5%;
  margin-top: -0.5%;
}
.euskera{
  width: 5%;
  height: 5%;
  margin-top: -0.5%;
  margin-bottom: 0.5%;
}
